@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap");

// Variables
$white-color: #fff;
$black-color: #000;
$main-color: #001f3f;
$second-color: #0f1702;
$gray-color: #555555;
$bg-color: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ::selection {
    background-color: $main-color;
    color: $white-color;
  }
}

body {
  font-family: "Inter", sans-serif;
  background-color: $white-color;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 680px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 920px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

.nav {
  background-color: $bg-color;
  padding: 10px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: flex;
      font-size: 20px;
      align-items: center;
      font-weight: 800;
      p {
        margin-right: 15px;
      }
      img {
        width: 60px;
      }
    }
    button {
      padding: 12px 20px;
      height: fit-content;
      margin-right: 20px;
      font-weight: 500;
      outline: none;
      background-color: #005dd1;
      color: $white-color;
      border-radius: 3px;
      border: none;
    }
    .right-side {
      display: flex;
      flex-direction: row;
      align-items: center;
      .email {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
          font-size: 16px;
        }
      }
    }
    img {
      width: 30px;
      //   margin: 20px;
    }
  }
}

.App {
  height: calc(100vh - 130px - 80px);
  .container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .prompt {
      background-color: $main-color;
      padding: 30px 50px;
      border-radius: 10px;
      width: 80%;
      .icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
        img {
          width: 40px;
          padding: 2px;
          background-color: $bg-color;
          border-radius: 3px;
          border: none;
          outline: none;
        }
      }
      input {
        width: 100%;
        font-size: 16px;
        padding: 7px 8px;
        outline: none;
        border-radius: 3px;
        border: none;
      }
      button {
        padding: 8px 16px;
        outline: none;
        border: none;
        background-color: #005dd1;
        color: $white-color;
        margin-left: 20px;
      }
      img {
        width: 30px;
      }
    }
  }
}

.footer {
  height: 130px;
  background-color: $bg-color;
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    h2 {
      color: $main-color;
    }
    .context {
      width: 40%;
      p {
        color: #303030;
      }
    }
    .footer-links {
      ul {
        list-style: none;
        li {
          font-size: 14px;
          color: #636363;
        }
      }
    }
    img {
      width: 120px;
      margin-left: 30px;
    }
  }
}
